body {
    padding: 0 var(--container-paddding);
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}

h2 {
    text-align: center;
    width: 100vw;
    margin: 0;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 240px;
    height: 220px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #929292;
    position: relative;
}

.box img {
    width: auto;
    height: 88%;
    max-height: 100%;
    max-width: 100%;
}

button {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    outline: 1px solid transparent;
    outline-offset: 2px !important;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
}

button:hover {
    cursor: pointer;
    background: var(--vscode-button-hoverBackground);
}

button:focus {
    outline-color: var(--vscode-focusBorder);
}

button.secondary {
    color: var(--vscode-button-secondaryForeground);
    background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
    background: var(--vscode-button-secondaryHoverBackground);
}

.copy-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
    height: auto;
}

footer {
    background-color: var(--vscode-editor-background);
    padding: 20px 0;
}

.footer-content,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    margin-left: 20px;
}

.social-icons,
.footer-bottom p {
    margin: 0;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-left: auto;
}